header {
  position: relative;
}

body {

  margin-left: auto;
  margin-right: auto;
}
.container {
  margin: 0 auto;
  width: 800px;
}

.left-widget {
  margin: 100 auto;
  padding-left: 200px;
}

.contato,
.lista-habilidades {
  float: left;
}

.lista-habilidades {
  clear: left;
}
